<nav>
  <ul>
    <li><a href="/">Squad A</a></li>
    <!-- <li><a href="?squad=squad-a-2022">Squad A with query</a></li> -->
    <!-- <li><a href="/squad-a-2022">Squad A with params</a></li> -->
    <li><a href="?squad=squad-b-2022">Squad B</a></li>
    <li><a href="?squad=squat-c-2022">Squat C</a></li>
    <li><a href="/new">Ik wil ook lid worden van een squad!</a></li>
  </ul>
</nav>